node-red-flows.json
[
    {
        "id": "cc6c184d9e5c0372",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "412acfc303d4fff0",
        "type": "ui_chart",
        "z": "cc6c184d9e5c0372",
        "name": "",
        "group": "0ec580bbe7f88ca4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a4e82e07a1979d9c",
        "type": "ui_gauge",
        "z": "cc6c184d9e5c0372",
        "name": "",
        "group": "0ec580bbe7f88ca4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 460,
        "wires": []
    },
    {
        "id": "1c852466b4a60c97",
        "type": "debug",
        "z": "cc6c184d9e5c0372",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 320,
        "wires": []
    },
    {
        "id": "92c2b18cc19e1505",
        "type": "inject",
        "z": "cc6c184d9e5c0372",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"A\":1,\"B\":0}",
        "payloadType": "json",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "ed249402edc4e219"
            ]
        ]
    },
    {
        "id": "ed249402edc4e219",
        "type": "change",
        "z": "cc6c184d9e5c0372",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.A",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 240,
        "wires": [
            [
                "73829a72a3482145"
            ]
        ]
    },
    {
        "id": "e3ea664fd98966b0",
        "type": "mqtt in",
        "z": "cc6c184d9e5c0372",
        "name": "",
        "topic": "sensors/arduino",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9b9d951a70d246ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "1c852466b4a60c97",
                "412acfc303d4fff0",
                "a4e82e07a1979d9c"
            ]
        ]
    },
    {
        "id": "73829a72a3482145",
        "type": "mqtt out",
        "z": "cc6c184d9e5c0372",
        "name": "",
        "topic": "sensors/arduino",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b9d951a70d246ee",
        "x": 800,
        "y": 240,
        "wires": []
    },
    {
        "id": "365a5cf656c7171f",
        "type": "inject",
        "z": "cc6c184d9e5c0372",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"A\":0,\"B\":1}",
        "payloadType": "json",
        "x": 330,
        "y": 280,
        "wires": [
            [
                "ed249402edc4e219"
            ]
        ]
    },
    {
        "id": "0ec580bbe7f88ca4",
        "type": "ui_group",
        "name": "Default",
        "tab": "3636337a278271c9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b9d951a70d246ee",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3636337a278271c9",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]